<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.modules.config.mapper.MedicalDictMapper">
    <!-- 通过字典code,值key获取字典数据 -->
    <select id="queryDictTextByKey" resultType="String">
		   SELECT t1.VALUE from MEDICAL_DICT t,MEDICAL_DICT_ITEM t1
		   WHERE t.GROUP_CODE = #{code} and t.GROUP_ID = T1.GROUP_ID
		   and t.KIND = #{kind} and t1.CODE = #{key}
	</select>
	<select id="queryDictKeyByText" resultType="String">
		   SELECT t1.CODE from MEDICAL_DICT t,MEDICAL_DICT_ITEM t1
		   WHERE t.GROUP_CODE = #{code} and t.GROUP_ID = T1.GROUP_ID
		   and t.KIND = #{kind} and t1.VALUE = #{text}
	</select>
    <select id="queryDict" resultType="com.ai.modules.config.vo.MedicalDictItemVO">
		   SELECT t1.*,t.GROUP_CODE,t.KIND GROUP_KIND
		   from MEDICAL_DICT t,MEDICAL_DICT_ITEM t1
		   WHERE t.GROUP_CODE = #{code} and t.GROUP_ID = T1.GROUP_ID and t.KIND = #{kind}
		ORDER BY t1.IS_ORDER,t1.CODE
	</select>
	<select id="queryDictByCodes" resultType="com.ai.modules.config.vo.MedicalDictItemVO">
		SELECT t1.*,t.GROUP_CODE,t.KIND GROUP_KIND
		from MEDICAL_DICT t,MEDICAL_DICT_ITEM t1
		WHERE t.GROUP_CODE in
		<foreach collection="codes" item="code" index="index" open="(" close=")" separator=",">
			#{code}
		</foreach>
		and t.GROUP_ID = T1.GROUP_ID and t.KIND = #{kind}
		ORDER BY t1.IS_ORDER,t1.CODE
	</select>

	<select id="queryItemsByGroup" resultType="com.ai.modules.config.vo.MedicalDictItemVO">
		select t.*,t1.KIND GROUP_KIND,t1.GROUP_CODE
		from MEDICAL_DICT_ITEM t, MEDICAL_DICT t1  where t.GROUP_ID = t1.GROUP_ID
		<if test="del.groupId!=null and del.groupId!=''">
			and t.GROUP_ID = #{del.groupId}
		</if>
		<if test="del.code!=null and del.code!=''">
			<choose>
				<when test="del.code.startsWith('*') or del.code.endsWith('*')">
					and t.CODE like replace(#{del.code},'*','%')
				</when>
				<otherwise>
					and t.CODE = #{del.code}
				</otherwise>
			</choose>
		</if>
		<if test="del.value!=null and del.value!=''">
			<choose>
				<when test="del.value.startsWith('*') or del.value.endsWith('*')">
					and t.VALUE like replace(#{del.value},'*','%')
				</when>
				<otherwise>
					and t.VALUE = #{del.value}
				</otherwise>
			</choose>
		</if>
		<if test="group.groupCode!=null and group.groupCode!=''">
			<choose>
				<when test="group.groupCode.indexOf(',') == -1">
					and t1.GROUP_CODE = #{group.groupCode}
				</when>
				<otherwise>
					and t1.GROUP_CODE in
					<foreach collection="group.groupCode.split(',')" item="codeItem" index="index" open="(" close=")" separator=",">
						#{codeItem}
					</foreach>
				</otherwise>
			</choose>
		</if>
		<if test="group.groupName!=null and group.groupName!=''">
			and t1.GROUP_NAME = #{group.groupName}
		</if>
		<if test="group.kind!=null and group.kind!=''">
			and t1.KIND = #{group.kind}
		</if>
		order by t1.KIND asc,t.CODE asc
	</select>

	<select id="queryDistinctDictByKinds" resultType="com.ai.modules.config.entity.MedicalDict">
		select distinct GROUP_CODE ,GROUP_NAME, KIND
		from MEDICAL_DICT where KIND in
		<foreach collection="array" item="kind" index="index" open="(" close=")" separator=",">
			#{kind}
		</foreach>
		order by kind asc
	</select>

	<select id="queryMedicalDictByGroupId" resultType="com.ai.modules.config.vo.MedicalDictItemVO">
		SELECT b.*,
       a.GROUP_CODE,
       a.KIND GROUP_KIND
  from MEDICAL_DICT a, MEDICAL_DICT_ITEM b
 WHERE a.GROUP_ID = b.GROUP_ID
 and a.group_id=#{groupId, jdbcType=VARCHAR}
 ORDER BY b.IS_ORDER,CODE
	</select>

	<select id="queryMedicalDictByKind" resultType="com.ai.modules.config.vo.MedicalDictItemVO">
		SELECT b.*,
       a.GROUP_CODE,
       a.KIND GROUP_KIND
  from MEDICAL_DICT a, MEDICAL_DICT_ITEM b
 WHERE a.GROUP_ID = b.GROUP_ID
 and a.kind=#{kind, jdbcType=VARCHAR}
 ORDER BY a.group_id,b.IS_ORDER,CODE
	</select>
</mapper>
