<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.modules.config.mapper.MedicalOrganMapper">
    <select id="listMasterInfoJoinSelectMaps" resultMap="com.ai.modules.config.vo.mybatis-plus_MedicalCodeNameVO">
        SELECT t.ID,
        t.CODE,
        t.NAME
        FROM DWB_MASTER_INFO_ORG t
        LEFT JOIN (SELECT CODE CODE_O,
        PARENT_ID,
        ORG_CODE,
        ORG_USED_NAME,
        ORG_LEVEL_CODE,
        ORG_LEVEL,
        ORG_CLASS_CODE,
        ORG_CLASS,
        PROVINCE_CODE,
        PROVINCE_NAME,
        CITY_CODE,
        CITY_NAME,
        COUNTY_CODE,
        COUNTY_NAME,
        TOWN_CODE,
        TOWN_NAME,
        VILLAGE_CODE,
        VILLAGE_NAME,
        ADDRESS,
        ADMINISTRATIVE_LEVEL_CODE,
        ADMINISTRATIVE_LEVEL,
        ORG_TYPE_CODE,
        ORG_TYPE,
        HEALTH_TYPE_CODE,
        HEALTH_TYPE,
        BUSINESS_NATURE_CODE,
        BUSINESS_NATURE,
        OWNERSHIP_CODE,
        OWNERSHIP,
        PRICE_LEVEL_CODE,
        PRICE_LEVEL,
        MEMBERSHIP_CODE,
        MEMBERSHIP,
        ORGANISER_TYPE_CODE,
        ORGANISER_TYPE,
        COMPETENT_UNIT_CODE,
        COMPETENT_UNIT,
        POSTCODE,
        TELEPHONE,
        XNH_FLAG_CODE,
        XNH_FLAG_NAME,
        YB_FLAG_CODE,
        YB_FLAG_NAME,
        GS_FLAG_CODE,
        GS_FLAG_NAME,
        ZYB_FLAG_CODE,
        ZYB_FLAG_NAME,
        APPROVE_BED_NUM,
        OPEN_BED_NUM,
        LEGAL_NAME,
        LEGAL_ID_TYPE,
        LEGAL_ID_NO,
        LEGAL_ADDRESS,
        REMARK,
        STATE,
        AUDIT_RESULT,
        ACTION_TYPE,
        CREATE_STAFF,
        CREATE_STAFF_NAME,
        CREATE_TIME,
        CREATE_REASON,
        UPDATE_STAFF,
        UPDATE_STAFF_NAME,
        UPDATE_TIME,
        UPDATE_REASON,
        DELETE_STAFF,
        DELETE_STAFF_NAME,
        DELETE_TIME,
        DELETE_REASON,
        ACTION_STAFF,
        ACTION_STAFF_NAME,
        ACTION_TIME,
        AUDIT_STAFF,
        AUDIT_STAFF_NAME,
        AUDIT_TIME,
        AUDIT_OPINION,
        LEGALPERSON_PHONE,
        INSURANCE_ORG,
        INSURANCE_ORGNAME,
        LAT_LON,
        YB_DDBH
        FROM MEDICAL_ORGAN) t1 ON t.CODE = t1.CODE_O
        where t.DATA_SOURCE = #{dataSource}
        <if test="ew.sqlSegment!=null and ew.sqlSegment!=''">
            and ${ew.sqlSegment}
        </if>
    </select>

    <select id="listByMasterInfoJoin" resultType="com.ai.modules.config.entity.MedicalOrgan">
        SELECT t.ID,
        t.CODE,
        T.NAME,
        t1.*
        FROM DWB_MASTER_INFO_ORG t
        LEFT JOIN (SELECT CODE CODE_O,
        PARENT_ID,
        ORG_CODE,
        ORG_USED_NAME,
        ORG_LEVEL_CODE,
        ORG_LEVEL,
        ORG_CLASS_CODE,
        ORG_CLASS,
        PROVINCE_CODE,
        PROVINCE_NAME,
        CITY_CODE,
        CITY_NAME,
        COUNTY_CODE,
        COUNTY_NAME,
        TOWN_CODE,
        TOWN_NAME,
        VILLAGE_CODE,
        VILLAGE_NAME,
        ADDRESS,
        ADMINISTRATIVE_LEVEL_CODE,
        ADMINISTRATIVE_LEVEL,
        ORG_TYPE_CODE,
        ORG_TYPE,
        HEALTH_TYPE_CODE,
        HEALTH_TYPE,
        BUSINESS_NATURE_CODE,
        BUSINESS_NATURE,
        OWNERSHIP_CODE,
        OWNERSHIP,
        PRICE_LEVEL_CODE,
        PRICE_LEVEL,
        MEMBERSHIP_CODE,
        MEMBERSHIP,
        ORGANISER_TYPE_CODE,
        ORGANISER_TYPE,
        COMPETENT_UNIT_CODE,
        COMPETENT_UNIT,
        POSTCODE,
        TELEPHONE,
        XNH_FLAG_CODE,
        XNH_FLAG_NAME,
        YB_FLAG_CODE,
        YB_FLAG_NAME,
        GS_FLAG_CODE,
        GS_FLAG_NAME,
        ZYB_FLAG_CODE,
        ZYB_FLAG_NAME,
        APPROVE_BED_NUM,
        OPEN_BED_NUM,
        LEGAL_NAME,
        LEGAL_ID_TYPE,
        LEGAL_ID_NO,
        LEGAL_ADDRESS,
        REMARK,
        STATE,
        AUDIT_RESULT,
        ACTION_TYPE,
        CREATE_STAFF,
        CREATE_STAFF_NAME,
        CREATE_TIME,
        CREATE_REASON,
        UPDATE_STAFF,
        UPDATE_STAFF_NAME,
        UPDATE_TIME,
        UPDATE_REASON,
        DELETE_STAFF,
        DELETE_STAFF_NAME,
        DELETE_TIME,
        DELETE_REASON,
        ACTION_STAFF,
        ACTION_STAFF_NAME,
        ACTION_TIME,
        AUDIT_STAFF,
        AUDIT_STAFF_NAME,
        AUDIT_TIME,
        AUDIT_OPINION,
        LEGALPERSON_PHONE,
        INSURANCE_ORG,
        INSURANCE_ORGNAME,
        LAT_LON,
        YB_DDBH
        FROM MEDICAL_ORGAN) t1 ON t.CODE = t1.CODE_O
        where t.DATA_SOURCE = #{dataSource}
        <if test="ew.sqlSegment!=null and ew.sqlSegment!=''">
            and ${ew.sqlSegment}
        </if>
    </select>
</mapper>
